.Show-Book {
  display: block;
  font-size: calc(20px);
  color: rgb(0, 0, 0);
}

.Head {
  display: inline-flex;
  font-size: calc(5px + 2vmin);
  color: rgb(0, 0, 0);
}

.BG {
  background-color: #b4b4b4;
}
